.wrapper {
    margin-left: 40px;
    color: #B0B0B0;
}
.link {
    text-decoration-line: underline;
    color: #B0B0B0;
    padding-left: 0;
    margin-left: 50px;
}
.title__container {
    display: flex;
    align-items: center;
}
.title {
    font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;

color: #828282;
}
.categoriesItems__container {
    float: left;
}
.item {
    color: #282828;
    width: 288px;
    height: 54px;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 18px;
    cursor: pointer;
}

@media print {
    .title__container {
        display: none !important;
    }
  }