.users__wrapper {
    margin-top: 60px;
    padding-left: 40px;
    max-width: 955px;
}


.users__table {    
    /* padding: 0px 40px; */
}
.cell {
    font-weight: 400;
    font-size: 14px;
    margin: 12px 8px;
}
.cell__container {
    word-wrap: break-word;
}
.links__container,
.button__container {
    font-size: 20px;
    display: flex;
}
.links__containerItem {
    margin-right: 16px;
}
.links__containerItem > a {
    color: #B0B0B0;
}
.active {
    color: #4C6FFF;
}
.button__container {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.item {
    position: relative;
    display: flex;
    justify-content: space-between;
    color:#282828;
}
.item:nth-child(odd)  {
    background: rgba(237, 242, 247, 0.5);
}
.add_item_button {
    display: flex;
    align-items: center;
    padding: 8px;
    color: #4C6FFF;
    border: 1px solid #4C6FFF;
}
.add_item_button:hover {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
}
.button_icon {
    margin-left: 10px;
}
.title {
    margin-bottom: 30px;
}

.delete_btn {
    padding: 0px 16px;
}
.number {
    /* width: 146px; */
    min-width: 146px;
    justify-content: flex-end;
}

.cell__container {
    padding: 5px 17px;
    display: flex;
    align-items: center;
    border-right: 1px solid #BDBDBD;
    /* max-width: 250px; */
    word-wrap: break-word;
    
}


textarea, input {
    background: transparent;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    /* text-align: right; */
    resize: none !important;
    overflow: hidden;
}

.category__field {
    color: #4C6FFF;
}


.status__container {
    border-right: none;
}



.item {
    padding: 0 20px;
    /* border: 1px solid #000; */
}
.name, .user, .date {
    width: 339px;
}
.username {
    text-align: left;
    width: 176px;
}
.role {
    width: 144px;
}
.lastVisit {
    width: 212px;
}
.password {
    width: 135px;
}
.status {
    /* display: flex;
    justify-content: start; */
    width: 600px;
    border: none;
}
.count {
    width: 150px;
}
.filename {
    width: 140px;
}
.succesfully__text {
    color: #15A01B;
}
.error__text {
    color: #FF4C4C;
}