body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
.wrapper {
  margin: 0 auto;
  max-width: 1600px;
  height: 100vh;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
}
h1 {
  color:#000;
}
a {
  text-decoration: none;
  color: #4C6FFF;
}
button {    
  display: flex;
  align-items: center;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 17px;
  border-radius: 3px;
  background: transparent;
  border: none;
}
button:hover {
  cursor: pointer;
}
h1 {
  font-size: 24px;
  line-height: 29px;
}
input[type=text] {
  width: 461px;
  padding: 13px 18px;
  background: transparent;
  font-size: 16px;
  line-height: 19px;
  color: #BDBDBD;
  border: 1px solid #BDBDBD;
  border-radius: 3px;
}
.main-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  /* transform: scaleY(-1); */
}
  /* .main-table::-webkit-scrollbar {
    top:0;
    position: absolute;
  } */

.main-content {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
    background: #000 !important;
  }

  .wrapper {
    max-width: 2000px !important;
    text-align: left !important;
    height: 100vh;
  }
}

/* .css-2b097c-container {
  width: 120px !important;
  height: 35px !important;
  padding: 8px !important;
} */

.css-1hb7zxy-IndicatorsContainer {
  /* display: none !important; */
}
.css-1okebmr-indicatorSeparator {
  display: none !important;
}

/* .css-tlfecz-indicatorContainer,
.css-tlfecz-indicatorContainer {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #282828 !important;
} */