body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  padding-bottom: 20px;

}
.wrapper {
  margin: 0 auto;
  max-width: 1600px;
  height: 100vh;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
}
h1 {
  color:#000;
}
a {
  text-decoration: none;
  color: #4C6FFF;
}
button {    
  display: flex;
  align-items: center;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 17px;
  border-radius: 3px;
  background: transparent;
  border: none;
  font-family: Inter;
font-style: normal;
font-size: 14px;
line-height: 17px;
}
button:hover {
  cursor: pointer;
}
.download_items_btn, .loader {
  max-width: 200px;
  margin: 16px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #4C6FFF;
  color: #4C6FFF;

}
.loader {
  width: 60px;
  height: 60px;
  border: none;
}
h1 {
  font-size: 24px;
  line-height: 29px;
}
input {
  cursor: text;
}
input[type=text] {
  width: 461px;
  padding: 13px 18px;
  background: transparent;
  font-size: 16px;
  line-height: 19px;
  color: #BDBDBD;
  border: 1px solid #BDBDBD;
  border-radius: 3px;
}
.main-table {
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  overflow-x: hidden;
  overflow-y: hidden;
  /* padding-top: 50px; */
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
  }

  .wrapper {
    max-width: 2000px !important;
    text-align: left !important;
    height: 100vh;
  }
}
.download_items_btn__container {
  padding: 20px;
}

.css-1okebmr-indicatorSeparator {
  display: none !important;
}