.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
}
.title {
    color: #333;
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 120%;
}
.container {
    max-width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.form {
    color: #4F4F4F;
    margin-top: 55px;
    display: flex;
    flex-direction: column;
}
.input {
    width: 320px;
    padding: 16px 10px;
    margin-top: 8px;
    background: #EDF2F7;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 3px;
}
.input__username {
    margin-bottom: 16px;
}
.button {
    color: #fff;
    margin-top: 40px;
    cursor: pointer;
    background: #4C6FFF;
    border: none;
    padding: 20px 95px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
}
.forgot {
    color: #828282;
    margin-top: 8px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
