.modal {
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    background: #fff;
    max-width: 450px;
    border-radius: 3px;
}

.title__container {
    width: 100%;
    border-bottom: 1px solid #D1D1D1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 24px 16px 24px;
    margin-bottom: 24px;
}
.close_btn {
    padding: 0;
}
.button__container {
    padding: 0px 24px 24px 24px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 32px;
}
.title {
    font-size: 20px;
    color: #828282;
}

.delete_btn,
.cancel_btn {
    font-size: 16px;
    color: #fff;
    padding: 10px 27px;
    background: #4C6FFF;
    border-radius: 3px;
}
.cancel_btn {
    color: #4C6FFF;  
    background: transparent;  
    margin-right: 8px;
}
.cancel_btn:hover {
    background: #EDF2F7;
}
.warning__container {
    padding: 0px 24px;
    color: #282828;
}
.warning__container_text {
    font-weight: 400 !important;
}
.warning__container p{
    margin-bottom: 12px;
}
.warning__container span {
    font-weight: 600;
}


.search_preview__warning {
    display: flex;
    align-items: center;
    background: rgba(237, 242, 247, 0.5);
    border-radius: 3px;
    margin: 8px 23px;
    padding: 8px;
}
.search_preview__warning img {
    margin-right: 8px;
    /* margin-top: -16px; */
}
.search_preview__red_text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FF4C4C;
}

.reportParams__container,
.reportColumns__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;

}
.reportModal__content {
    max-width: 560px;

}
.reportParams__title {
    margin-bottom: 8px;
}
.reportColumns__title {
    margin: 24px 0px 8px 0px;
}
