.cell {
    font-weight: 400;
    font-size: 14px;
}
.cell__container {
    word-wrap: break-word;
}
.item {
    position: relative;
    min-height: 65px;
    display: flex;
    justify-content: space-between;
    color:#282828;
    padding-left: 20px;
}
.item:nth-child(odd) {
    background: rgba(237, 242, 247, 0.5);
}
.check {
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border-right: none !important;
    width: 20px;
    padding-left: 20px;
}
.delete_btn {
    padding: 0px 16px;
}
.number {
    width: 146px;
    justify-content: flex-end;
}
.category {
    width: 126px;
}
.name {
    width: 277px;
}
.owner {
    width: 220px;
}
.location {
    width: 200px;
}
.location_item {
    font-size: 14px;
}
.amount {
    padding-right: 25px;
    justify-content: flex-end;
    width: 120px;
}
.comments {
    border-right: none !important;
    width: 210px;
    border: none;
}
.cell__container {
    padding: 20px 20px 20px 0px;
    display: flex;
    align-items: center;
    border-right: 1px solid #BDBDBD; 
    max-width: 250px;
    word-wrap: break-word;
}
