.header {
    font-size: 14px;
    font-weight: 500;
    color: #828282;
    padding: 18px 77px 18px 0px;
    display: flex;
    /* justify-content: space-between; */
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    margin-bottom: 16px;
}

.table {
    width: 100%;
}

.item {
    padding: 0px 20px;
}
.number {
    width: 146px;
    text-align: right;
}
.category {
    padding: 0px 20px;
    width: 146px;
}
.name {
    width: 263px;
}
.owner {
    padding: 0px 27px;
    width: 313px;
}
.location {
    padding-left: 20px;
    width:204px;
}

.amount {
    text-align: right;
    width: 120px;
}
.comments {
    width: 210px;
}
.price,
.cost {
    width: 180px;
}


@media print {
    .item {
        /* padding: 0px 10px !important; */
        border: 1px solid #000 !important;
    }
    .header {
        box-shadow: none;
    }
    .number {
        width: none;
        /* text-align: right; */
    }
  }