.header {
    font-size: 14px;
    font-weight: 500;
    color: #828282;
    padding: 18px 0px 18px 20px;
    display: flex;
    /* justify-content: space-between; */
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    margin-bottom: 16px;
}
.item {
    padding: 0px 17px;
    /* border: 1px solid #000; */
}

.name, .date, .user {
    width: 289px;
}
.username {
    width: 176px;
}
.role {
    width: 125px;
}
.lastVisit {
    width: 212px;
    padding-left: 20px;
}
.password {
    width: 135px;
}

.status {
    /* display: flex;
    justify-content: start; */
    width: 600px;
    border: none;
}
.count {
    width: 150px;
}