.header {
    font-size: 14px;
    font-weight: 500;
    color: #828282;
    padding: 18px 0px 18px 20px;
    display: flex;
    /* justify-content: space-between; */
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    margin-bottom: 16px;
}
.item {
    padding: 0px 17px;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
}
.name {
    width: 275px;
}
.username {
    width: 176px;
}
.role {
    width: 145px;
}
.lastVisit {
    width: 212px;
    padding-left: 20px;
}
.password {
    width: 135px;
}

.status {
    /* display: flex;
    justify-content: start; */
    width: 220px;
    /* border: none; */
}
.count {
    width: 150px;
} 


.import_name {
    width: 252px;
}
.import_user {
    width: 135px;
}
.import_date {
    padding-left: 25px;
    width: 233px;
}
.import_count {
    width: 180px;
}
.import_status {
    width: 180px;
}